@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kalam:wght@300&family=Roboto+Mono:wght@100;700&display=swap');

body{
    background-image: url('IMG/tentacion1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 110%;
}

h1{
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
}

p{
    color: white;
    margin: 0cm 1cm 1cm 1cm;
}
ul li{
    list-style: circle;
}

.container{    
    color: white;
}
.lnks{
    text-decoration-line: underline;
    color: white;
}
.back_links{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.back{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 0.5cm;
    font-family: 'Roboto Mono';
    filter: drop-shadow(0px 0px 10px #ffffff);
}

.drinks{
    display: flex;
    flex-direction: row;
    margin-left: 6.5cm;
    font-family: 'Roboto Mono';
    text-align: right;
    font-weight: bold;
    text-decoration: none;
    color: white;
    filter: drop-shadow(0px 0px 10px white);
}
