@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kalam:wght@300&family=Roboto+Mono:wght@100;700&display=swap');

body{
    background-image: url('IMG/tentacion1.png');
    background-size: cover;
    background-size: 130%;
}

h1{
    text-align: center;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Roboto Mono';
}

ul li{
    color: white;
    list-style: circle;
    margin-bottom: 4%;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.bcill{
    text-decoration: none;
    color: #ffffff;
    filter: drop-shadow(0px 0px 10px #ffffff);
    margin-left: 1%;
    font-family: 'Roboto Mono';
    font-weight: bold;    
}

.back{
    text-decoration: none;
    color: #ffffff;
    margin-left: 18%;
    filter: drop-shadow(0px 0px 10px #ffffff);
    font-family: 'Roboto Mono';
    font-weight: bold;
}

.bbds{
    text-decoration: none;
    color: #ffffff;
    margin-left: 22%;
    filter: drop-shadow(0px 0px 10px #ffffffff);
    font-family: 'Roboto Mono';
    font-weight: bold;
}

